# This file contains the required environment variables for the application.
# To configure your environment, create a new `.env` file in the project root,
# copy these variables, and populate them with the appropriate values.

openai_apikey=
MOODLE_USERNAME=
MOODLE_PASSWORD=
MOODLE_URL=
claudeApiKey=
perplexity_apikey=
GOOGLE_CLIENT_ID=